@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: rgb(94, 7, 7);
}

.inner-width{
  max-width: 1000px;
  padding: 0 10px;
  margin: auto;
}

.title{
  color: rgb(181, 63, 30);
}

.navigation-menu{
  float: left;
  display: flex;
  align-items: center;
  min-height: 90px;
}


.navigation-menu a{
  margin-left: 10px;
  color: #ddd;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 4px;
  transition: .3s linear;
}

.navigation-menu a:hover{
  background: #953201;
  color: #fff;
  transform: scale(1.1);
}








